= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

    #post-input
    .field#post-text-area
      = f.text_label :title, placeholder: "Question title..."
    .field#post-text-area
      = f.text_area :content, :size => '30x5', placeholder: "Question explaination (optional). You can also add an image if it helps...."
    .field#post-image-box
      = f.label :image
      = f.file_field :image
    .actions
      %input{:type => "submit", :value => "Submit", :class => "button", :id => "post_submit", :content => :content, :name => 'submit'}
