- current_agent = (current_user) || (current_company)

%section.container
  .top-questions-container
    %h2 Top Questions
    - @questions.each do |question| 
      .questions-break
        %hr
      .questions-score
        = "Score: #{question.up_votes_count + question.down_votes_count}"
        = "Answers: #{question.answers.count}"
        %br
        = link_to "#{question.title}", question
        \-
        = link_to "#{question.owner.user_name}", question.owner
        %br
        = link_to question.content, question
        %br
        - if can? [:vote, :edit, :destroy], question
          = link_to "up", vote_question_path(question) + "?vote=1&index=true", method: :put
          = link_to "down", vote_question_path(question) + "?vote=-1&index=true", method: :put
          = link_to 'Edit', edit_question_path(question)
          = link_to 'Delete', question_path(question), method: :delete, :data => { :confirm => 'Are you sure?' }

    .questions-break
      %hr