%section.container
  .top-questions-container
    %h2 Top Questions
    - @questions.each do |question| 
      .questions-break
        %hr
      .questions-score
        = link_to "#{question.title}", question
        \-
        = link_to "#{question.owner.user_name}", question.owner
        %br
        Score:
        %span.score= question.up_votes_count + question.down_votes_count
        Answers:
        %span.count= question.answers.count
        - if can? :vote, question
          -if @up_votes_cast.include? question.id
            %strong= link_to "up", vote_question_path(question, vote: "up", index: "true"), class: 'vote-link vote-up voted-on', method: :put
          -else
            = link_to "up", vote_question_path(question, vote: "up", index: "true"), class: 'vote-link vote-up', method: :put
          -if @down_votes_cast.include? question.id
            %strong= link_to "down", vote_question_path(question, vote: "down", index: "true"), method: :put, class: 'vote-link vote-down voted-on'
          -else
            = link_to "down", vote_question_path(question, vote: "down", index: "true"), method: :put, class: 'vote-link vote-down'
        - if can? [:edit, :destroy], question
          = link_to 'Edit', edit_question_path(question) 
          = link_to 'Delete', question_path(question), method: :delete, :data => { :confirm => 'Are you sure?' }

