.col-md-2.profile
  -if @current_agent.present?
    - if @current_agent.class.to_s == "Company" && @current_agent.logo.present?
          = link_to image_tag(@current_agent.logo, class: "logo"), @current_agent
        -elsif @current_agent.class.to_s == "User" && @current_agent.profile_picture.present?
          = link_to image_tag(@current_agent.profile_picture, class: 'logo'), @current_agent
    %br/
    %p= link_to "#{@current_agent.user_name}", @current_agent
    %p="Questions score: #{@current_agent.questions_score}"
    %p="Answers score: #{@current_agent.answers_score}"
    %p="Voting score: #{@votes}"

.col-md-9.row.col-md-offset-3
  %h1 New question



  = render 'form'

  = link_to 'Back', questions_path
