!!!
%html
  %head
  %body.slideshow
    .slideshow-contrast
      = "#{@question.content} - #{@question.owner.user_name}"

    %ul#comments
      - @question.answers.order("created_at DESC").limit(5).each do |answer|
        %li= "#{answer.content}"

      / = form_for [@question, @question.answer.build] do |f|
      /   %p= f.text_area :content, :size => '30x5', placeholder: "Comment..."

      /   #digits-left Characters left: 70
      /   %p= f.submit "Post comment", disabled: true