-if @user.profile_picture.present?
  = @user.profile_picture
  %br/
= @user.user_name
-if current_agent = @user
  %br/
  = @user.first_name
  = @user.last_name
%br/
= "Questions score: #{@user.questions_score}"
%br/
= "Answers score: #{@user.answers_score}"
%br/
= "Comments score: #{@user.comments_score}"
%br/
= "Voting score: #{@votes}"
-if @user.university.present?
  %br/
  = "University: #{@user.university.name}"
-else
  %br/
  = "University:"
%br/
= "Degree: #{@user.degree_title}"
%br/
= "Type: #{@user.degree_classification}"
%br/
= "Classification: #{@user.degree_score}"
%br/
= "Achieved degree:"
= check_box_tag "" , "" , @user.degree_achieved


