%br
%iframe.col-md-8{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{@video_id}", :title => "YouTube video player", :width => "640"}

%div=button_to "Have a look around", questions_path, :class => "button", :method => :get
%br
%span
  Student Quick Sign up
  = form_for("user", :url => user_registration_path) do |f|
    = f.text_field :user_name, placeholder: "Username"
    = f.text_field :email, placeholder: "Email"
    = f.password_field :password, placeholder: "Password"
    %p= f.password_field :password_confirmation, placeholder: "Password Confirm"
    %p= f.submit 'Sign up'

%span
  Student Quick Sign in
  = form_for("user", :url => user_session_path) do |f|
    = f.text_field :email, placeholder: "Email"
    = f.password_field :password, placeholder: "Password"
    %p
      = f.check_box :remember_me
      = f.label :remember_me
    = f.submit 'Sign in'
    = link_to "Forgot your password?", new_password_path('user')

%br/
%br/
%br/
%br/
%br/
