%h2 Sign up
.form
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :company_name
      = f.text_field :user_name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label "Description"
      = f.text_area :biography, :class => 'ckeditor', :ckeditor => {:toolbar => "Normal"}, placeholder: "Tell us about the company, what you're looking for, your markets, values, be as detailed as you like!"
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      = f.label :logo
      = f.file_field :logo, class: 'form-control'
    %div= f.submit "Sign up", class: 'btn btn-primary btn-block'
= render "companies/shared/links"
