= form_for @search do |f|
  %p
    = f.label :keywords
    %br/
    = f.text_field :keywords
  %p
    = f.label :category
    %br/
    = f.text_field :category
  %p
    = f.label :questions_score
    %br/
    = f.number_field :questions_score
  %p
    = f.label :answers_score
    %br/
    = f.number_field :answers_score
  %p
    = f.label :comments_score
    %br/
    = f.number_field :comments_score
  %p
    = f.label "University(ies) - hold ctrl/cmd to select multiple"
    %br/
    = f.select :university, University.all.map {|r| [r.name,r.id] }, {},{:multiple => true, size: 20 }
  %p
    = f.label :degree_score
    %br/
    = f.select :degree_score, options_for_select(%w{ 1st 2:1 2:2 3rd Pass }),{}, {multiple: true, size: 5}
  %p
    = f.label :degree_achieved
    %br/
    = f.check_box :degree_achieved
  %p
    = f.label :degree_classification
    %br/
    = f.select :degree_classification, options_for_select(%w{ BA BSc BEng MA MSc MEng LLM MBA PhD }),{},{ multiple: true, size: 8}
  %p= f.submit