!!!
%html
  %head
    %title WithHonours
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body 
    %header.nav-bar
      - current_agent = (current_user) || (current_company)
      - if current_agent
        .nav-link-right
          = link_to 'Logout',  send("destroy_#{current_agent.class.to_s.downcase}_session_path"), method: :delete
        .nav-link-right
          \| 
        .nav-link-right
          Logged in as
          = link_to current_agent.user_name, current_agent
        .nav-link-right
          \|
        .nav-link-right
          = link_to 'Edit Profile', send("edit_#{current_agent.class.to_s.downcase}_registration_path")
        .nav-link-right
          = link_to 'New Question', send("new_question_path")

      - else
        .nav-link-right
          = link_to 'Student Sign Up', new_user_registration_path
        .nav-link-right
          \|
        .nav-link-right
          = link_to 'Student Sign In', new_user_session_path
        .nav-link-right
        /   \|
        / .nav-link-right
        /   = link_to "Sign In With Google", user_omniauth_authorize_path(:google_oauth2)
        / .nav-link-right
        /   \|
        / .nav-link-right  
        /   = link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook)
      .nav-break
        %hr
      .flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

    %section    
      = yield
