!!!
%html
  %head
    %title WithHonours
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Karla:400,400italic", rel: "stylesheet", type: "text/css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.body.span8
    %header.nav.animated.fadeInDown
      %span.WH-logo= link_to "WithHonours.co", root_url
      - current_agent = (current_user) || (current_company)
      - if current_agent
        %span.right
          %span
            = link_to 'New Question', send("new_question_path")
          %span
            \|
          %span
          -if current_agent.class.to_s == "Company"
            %span
              = link_to 'Search for grads', new_search_path
            %span
              \|
          %span
            = link_to 'Edit Profile', send("edit_#{current_agent.class.to_s.downcase}_registration_path")
          %span
            \| 
          %span
            = link_to 'Logout', send("destroy_#{current_agent.class.to_s.downcase}_session_path"), method: :delete
            = form_tag basic_searches_path, class: "search" do
              = text_field_tag :query, nil, placeholder: 'Search', size: 15
              = submit_tag 'Search'

      - else
        %span.right
          %span
            = link_to 'Company Sign Up', new_company_registration_path
          %span
            \|
          %span
            = link_to 'Company Sign In', new_company_session_path
          %span
            \|
          %span
            = link_to 'Student Sign Up', new_user_registration_path
          %span
            \|
          %span
            =link_to 'Student Sign In', new_user_session_path
          %span
            = form_tag basic_searches_path class: "search" do
              = text_field_tag :query, nil, placeholder: 'Search', size: 15
              = submit_tag 'Search'
      
      %hr
      .flash.animated.fadeInDown
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

    %section.col-md-12    
      = yield

    :javascript
      window.userVote = #{@userVote || 1}
